<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="QualityEclipse"
            id="com.qualityeclipse.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/sample.gif"
            category="com.qualityeclipse.favorites"
            class="com.qualityeclipse.favorites.views.FavoriteView"
            id="com.qualityeclipse.favorites.views.FavoriteView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.qualityeclipse.favorites.views.FavoriteView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Favorites相关命令"
            id="com.qualityeclipse.favorites.commands.category"
            name="Favorites">
      </category>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            id="com.qualityeclipse.favorites.commands.openView"
            name="打开收藏夹视图">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            id="com.qualityeclipse.favorites.commands.add"
            name="添加收藏">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.qualityeclipse.favorites.handlers.OpenFavoritesViewHandler"
            commandId="com.qualityeclipse.favorites.commands.openView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.qualityeclipse.favorites.menus.favoritesMenu"
               label="收藏夹"
               mnemonic="v">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.menus.openFavoriteView"
                  mnemonic="O"
                  style="push"
                  tooltip="打开透视图">
            </command>
         </menu>
         <toolbar
               id="com.qualityeclipse.favorites.toolbar1">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.qualityeclipse.favorites.toolbars.main">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.toolbars.openFavoritesView"
                  mnemonic="O"
                  style="push"
                  tooltip="Open The Favorites View">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
